
window, 
document,
body,
div,
span,
canvas,
img,
a{
    
    margin: 0px;
    padding: 0px;
    
    position: absolute;
    display: block;
    
}

html,
window,
document,
body{
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    background-color: #EFEFEF;
    
}

img{
    
    position: absolute;
    visibility: hidden;
    
    -webkit-transform: translate( -100%, -100% );
    -moz-transform: translate( -100%, -100% );
    -o-transform: translate( -100%, -100% );
    transform: translate( -100%, -100% ); 
    
}

span{
    
    display: block;
    
    width: 50px;
    height: 50px;
    
    background-color: aqua;
    
    cursor: pointer;

}

canvas{
    
    left: 0px;
    top:  0px; 
    
    /*background-color: #EFEFEF;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: translateZ( 0 );
    -moz-transform: translateZ( 0 );
    -o-transform: translateZ( 0 );
    transform: translateZ( 0 );
    
}

#root{
    
    width: 100%;
    height: 100%;
    
    background: rgb(37, 162, 145);
    background: linear-gradient(0deg, rgba(44,207,221,1) 0%, rgba(44,186,158,1) 50%, rgba(10,65,92,1) 100%);
    
    cursor: none;
    
}


#bg{
    
    width: 100%;
    height: 100%;
    
    /*
    background-image: url(../images/stars.png);
    background-repeat: repeat-x;
    background-size: 90px auto;
    */
}

#bg:before,
#bg:after{
    
    content: '';
    position: absolute;
    display: block;
    
    width: 100%;
    height: 100%;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: translateZ( 0 );
    -moz-transform: translateZ( 0 );
    -o-transform: translateZ( 0 );
    transform: translateZ( 0 );
}
    
#bg:before{
    
    width: 500px;
    height: 500px;
    
    right: 0px;
    top: 0px;
    
    border-radius: 800px;
    
    box-shadow: -6px -6px 20px 0px rgba(255, 255, 255, 0.35), inset 30px 30px 70px 20px rgba(198, 237, 255, 0.5);
    
    background-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(300deg, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0.25) 100%);
    
    transform: translate(20%, -8%);
    
}

#bg:after{    
    
    background-image: url(../images/clouds2.png), url(../images/clouds.png);
    background-repeat: repeat-x;
    background-position: bottom;
    
    animation: clouds 240s linear infinite;    

}

#bg.paused:after{
    
    animation-play-state: paused;
    
}


@keyframes clouds {
  from {background-position: 2694px bottom, 0px bottom;}
  to {background-position: 0px bottom, 898px bottom;}
}


#data{
    
    bottom: 0px;
    
    padding: 5px;
    
    width: 70px;

    text-align: center;
    vertical-align: middle;
    
    background-color:  #333;
    color: #FEFEFE;
    
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    
}

#pointer,
#pointer_crosshairs_tb,
#pointer_crosshairs_lr{
    
    transform-origin: center center;
    
}

#pointer,
#pointer:after,
#pointer_crosshairs_tb:before,
#pointer_crosshairs_tb:after,
#pointer_crosshairs_lr:before,
#pointer_crosshairs_lr:after{
    
    border: 1px solid #ffb5ce;
    box-shadow: 0 0 4px 1px #ff4584, 0 0 4px 1px #ff4584 inset;   
    
}

#pointer{
    
    width: 30px;
    height: 30px;
    
    pointer-events: none;
    
    transform: translate(-50%, -50%) rotate(45deg);
    
    border-width: 2px;
}

#pointer:after{
    
    content: '';
    position: absolute;
    display: block;
    
    height: 10%;
    width: 10%;
    
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    margin: auto;
    
    border-radius: 100px;
    border-width: 2px;
    
}


#pointer_crosshairs_tb,
#pointer_crosshairs_lr{
    
    width: 100%;
    height: 100%;
    
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
    
}

#pointer_crosshairs_lr{
    transform: translate(-50%, -50%) rotate(90deg);
}

#pointer_crosshairs_tb:before,
#pointer_crosshairs_tb:after,
#pointer_crosshairs_lr:before,
#pointer_crosshairs_lr:after{

    content: '';
    position: absolute;
    display: block;
    
    height: 25%;
    width: 0px;
    
    left: 50%;
    margin-left: -1px;

    animation: bob-up 0.5s linear infinite alternate; 
    
    z-index: 0;
}

#pointer_crosshairs_tb:after,
#pointer_crosshairs_lr:after{
    
    bottom: 0px;

    animation: bob-down 0.5s linear infinite alternate; 
    
}

@keyframes bob-up {
  from {transform: translateY(-35%);}
  to {transform: translateY(-65%);}
}

@keyframes bob-down {
  from {transform: translateY(35%);}
  to {transform: translateY(65%);}
}